* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 60px;
  background: rgba(164, 239, 255, 1);
  display: flex;
  padding: 0 30px;
  align-items: center;
}

#menu {
  font-family: "Baloo Thambi 2", cursive;
  font-family: "Source Code Pro", monospace;
  list-style: none;
  margin-left: auto;
}

.menu-toggle {
  margin-left: auto;
  font-size: 25px;
  display: none;
}

#menu li ul {
  display: inline-block;
}

#menu li ul a {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
  padding: 0 12px;
  line-height: 60px;
  border-radius: 3px;
}

#menu li ul a:hover {
  background: rgba(40, 206, 241, 1);
}

.show {
  height: 240px !important;
}

.iniEnd {
  width: 100%;
}

.introduction {
  font-family: "Baloo Thambi 2", cursive;
  font-family: "Source Code Pro", monospace;
  text-align: justify;
  padding: 30px 120px;
  line-height: 40px;
  font-size: 20px;
}

#btn-inicio {
  display: flex;
  align-self: center;
  border-radius: 2px;
  padding: 10px;
  margin-top: 0;
}

#btn-inicio:hover {
  background: rgba(40, 206, 241, 0.2);
}

.seccionpersonajes,
.films {
  display: none;
}
body .contenedor-peliculas-con-personajes {
  background-color: #fff;
  color: #000;
}

.contenedor-peliculas-con-personajes {
  display: flex;
  flex-direction: column;
  align-content: center;
}

h2 {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  padding: 30px 0px;
  font-size: 60px;
}
.personajes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  flex-wrap: wrap;
 
}
.titulo-personaje{
  width: 50%
}
.titulo-personaje img {
  box-shadow: 3px 3px 5px rgba(144, 158, 160, 0.767);
  border-radius: 5px;
}
.posterPersonaje {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.personaje {
  display: flex;
  justify-content: center;
  width: 400px;
  padding: 12px;
  gap: 15px;
}
.descripcion-personaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  width: 50%;
  height: 250px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(144, 158, 160, 0.767);
  font-family: "Source Code Pro", monospace;
  background: rgba(164, 239, 255, 0.5);
}
.seccionpersonajes .busqueda {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(2, 100, 215, 1);
}
#busqueda {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(233, 240, 247);
}
#busqueda:hover {
  background-color: rgb(174, 190, 206);
}

.menuAz {
  font-size: 20px;
  background-color: aqua;
}

footer {
  background-image: url(footer.svg);
  background-position: top;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  justify-items: center;
  justify-content: center;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-right: 120px;
  margin: 30px;
}
h3 {
  font-family: "Baloo Thambi 2", cursive;
  font-family: "Source Code Pro", monospace;
  color: rgba(2, 100, 215, 1);
  font-size: 22px;
  margin-bottom: 20px;
}
.p1 {
  font-family: "Baloo Thambi 2", cursive;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 40px;
}
.p2 {
  font-family: "Baloo Thambi 2", cursive;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 40px;
  width: fit-content;
  margin-left: 5%;
}
#filmoButton,
#characterButton {
  background-color: rgba(164, 239, 255, 1);
  padding: 10px 15px;
  border-style: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(144, 158, 160, 0.767);
  font-family: "Baloo Thambi 2", cursive;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
}

#filmoButton:hover,
#characterButton:hover {
  background: rgba(40, 206, 241, 1);
}
.chihiro {
  height: 400px;
  width: 350px;
  margin: 50px 50px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(144, 158, 160, 0.767);
}

.copyright {
  font-family: "Baloo Thambi 2", cursive;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
  font-weight: bolder;
}

.films {
  padding-top: 60px;
}
.movies-list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 70%;
  margin: 60px;
  justify-items: center;
  width: 85%;
  padding-left: 8%;
  gap: 50px;
}

.div_info {
  padding: 30px;
  padding-top: 0px;
  align-content: center;
  box-shadow: 1px 1px 3px rgba(144, 158, 160, 0.767);
  border-radius: 5px;
  background-color: rgba(164, 239, 255, 0.2);
}

.posters {
  display: flex;
  width: 280px;
  height: 380px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(144, 158, 160, 0.767);
}

.movie_title {
  font-family: "Baloo Thambi 2", cursive;
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
  font-size: xx-large;
  width: fit-content;
  margin-top: 20px;
}

.descriptionFilms {
  font-family: "Baloo Thambi 2", cursive;
  font-family: "Source Code Pro", monospace;
  font-weight: lighter;
  line-height: 25px;
  font-size: 17px;
}
.date {
  width: fit-content;
}
#years {
  width: fit-content;
  margin-left: 5%;
  font-size: 20px;
  border-style: none;
  background: rgba(164, 239, 255, 0.2);
  box-shadow: 2px 2px 3px rgba(144, 158, 160, 0.767);
  padding: 5px;
}
#buttonZA,
#buttonAZ {
  width: fit-content;
  margin-left: 5%;
  font-size: 20px;
  border-style: none;
  background: rgba(164, 239, 255, 0.2);
  box-shadow: 2px 2px 3px rgba(144, 158, 160, 0.767);
  padding: 5px;
}

#buttonZA:hover,
#buttonAZ:hover,
#years:hover {
  background-color: rgba(164, 239, 255, 1);
}

@media screen and (max-width: 850px) {
  .personaje {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .menu-toggle {
    display: block;
  }
  #menu {
    background: rgba(164, 239, 255, 0.6);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-out;
  }
  #menu li ul {
    display: block;
    text-align: center;
  }
  #menu li ul a {
    font-size: 20px;
    width: 100%;
  }
  #menu li ul a:hover {
    background: rgba(40, 206, 241, 0.8);
  }
  .introduction {
    padding: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 15px;
  }
  #chihiro {
    grid-column: 1 / -1;
    width: 80%;
  }
  .paragraph {
    grid-column: 1 / -1;
  }
  .p1 {
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 30px;
  }
  .sections {
    padding: 0px;
    gap: 30px;
    margin: 30px;
  }
  #filmoButton,
  #characterButton {
    font-size: 13px;
  }

  .films {
    margin: 0%;
  }

  .movies-list {
    gap: 40px;
    margin: 0%;
    justify-items: center;
    padding-top: 50px;
  }

  .p2 {
    line-height: 30px;
    text-align: left;
    font-size: 15px;
  }
  .div_info {
    align-content: left;
    grid-column: 1 / -1;
  }

  .posters {
    grid-column: 1 / -1;
  }
  .movie_title {
    font-size: x-large;
    width: fit-content;
  }
  .contenedor-peliculas-con-personajes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .personajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
  }
  .descripcion-personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 20px;
  }
}
